.myheader{
    background-color: blue;
    color:white;
    border:2px soild red;
    border-radius: 20px;
    padding-left:300px
}

.myfooter{
    position:fixed;
    bottom:0;
    left:300px;
    border:2px solid red;
    border-radius: 20px;
}